<!-- views/index.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celebrities</title>
</head>
<body>
    <h1>Welcome to our Celebrities App!</h1>
    <p>Explore our celebrities and add new ones.</p>
    
    <!-- Link to create a new celebrity -->
    <a href="/celebrities/create">Add New Celebrity</a>
    
    <!-- Your other content here -->
    <!-- views/movies/index.hbs -->

    <h2>List of Movies</h2>

    <ul>
    <!-- Display list of movies here -->
    </ul>

    <a href="/movies/new">Add New Movie</a>

</body>

</html>
